<div class="card aimated fadeIn fast" style="width: 18rem;">
    <img src="assets/img/SWT.png" class="card-img-top">
    <div class="card-body">
        <p class="card-text">
            Star Wars (conocida también en español como La guerra de las galaxias)1​2​3​ es una franquicia compuesta
            primordialmente de una serie de películas concebidas por el cineasta estadounidense George Lucas, y
            producidas y distribuidas por The Walt Disney Company a partir de 2012. Su trama describe las vivencias de
            un grupo de personajes que habitan en una galaxia ficticia e interactúan con elementos como «la Fuerza», un
            campo de energía metafísico y omnipresente4​ que posee un «lado oscuro» provocado por la ira, el miedo y el
            odio.5​
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>